[2020-02-29 05:44] rjchatfield opened #3 "As a user, I can move between nested Editors using cursors"
I believe this will be important in two scenarios.

Imagine two paragraphs with a Panel in between them which contains a paragraph worth of content. If my cursor is half way along the top paragraph, tapping down should move to “the next line” which is either inside the same paragraph or inside the Panel. I’d expect my cursor to jump into the middle of the first line of the Panel.

Imagine we build

[2020-02-29 05:54] rjchatfield opened #4 "ProtonExtensions.framework: Introduce a “Standard Library” of common plugins"
This repo currently contains the core Editor as a framework and the example project. I believe there is space for a framework which contains text processors and commands for common editor behaviour.

- H1/2/3/4/5/6
- Bold/Italics/Strike-through
- Bullet point

Implementing the Text Processor for markdown (* _ #) would be great. Additionally and separately we can co-develop a Command for allowing t

[2020-02-29 09:13] rjchatfield opened #5 "Swift 5.x: Use `modify` accessor for better performance"
SE Proposal: https://forums.swift.org/t/modify-accessors/31872
Talk: https://www.youtube.com/watch?v=BXJIIQ-B4-E

When this lands in Swift, we should leverage `modify` for better performance. Especially accessing text:

[code]

Note: We can use `_modify` today... but it would break when it changes.

[2020-02-29 11:19] rjchatfield opened #7 "Question: Is this meant to be `!text.isEmpty`?"
Is this meant to be `!text.isEmpty`?

https://github.com/rajdeep/proton/blob/301c8986f15eff77d049cbc17b9012f18a07cbef/Proton/Sources/Core/RichTextEditorContext.swift#L45

That is the same as:

[code]

That is the same as:

[code]

[2020-02-29 11:38] rjchatfield opened #9 "Question: Is this meant to be `pointSize`?"
https://github.com/rajdeep/proton/blob/301c8986f15eff77d049cbc17b9012f18a07cbef/Proton/Sources/Helpers/Text/FontExtensions.swift#L63

[code]

This happens in both `adding(...)` and `removing(...)`

[2020-02-29 22:34] #9 closed, assigned to nobody

[2020-03-14 04:46] vox-humana opened #14 "Feature Request: Current TextProcessor notification on selection (cursor position) change"
To show selected state (formatting option or selected type ahead processor) in a toolbar (by highlighting corresponding button) or to show/hide options picker on changing cursor position.

As a suggestion `EditorView` can ask `TextProcessor` for active text processors for current range. Maybe, it requires new method in `TextProcessing` that return whether this processor should be active in selecte

[2020-03-14 06:30] vox-humana opened #15 "TextStorage should cleanup typeahead attributes for text in 0 location"
Steps to reproduce:
- Open "Text Processors" demo
- Type "@" as the first character in TextView that will trigger text processor and will change `.foregroundColor` attribute
- Remove this character
- Type any other character which now will be `.systemBlue` color

Looks like setting `. foregroundColor` attribute also changes `typingAttributes` and `textColor` properties of `UITextView`. Then `UITex

[2020-03-16 06:48] #14 closed, assigned to nobody

[2020-03-17 08:25] vox-humana opened #18 "Question: What is the best way to get notifications from all nested EditorView?"
Let's imagine we have VC that holds parent EditorView. It subscribes to its changes via `EditorViewDelegate`. However, it doesn't receive notifications from nested editors in attachments.

Some posible use cases:
1. Check changes in content and enable/disable "submit" button while editing content
1. Show typeahead picker at cursor while typing

Some possible solutions:
1. Do not subscribe to neste

[2020-03-17 08:50] vox-humana opened #19 "Feature Request: Add `Attachment` to `EditorContentType` case"
Currently, we have `contents()` method that returns `[EditorContent]`. But its case contains only view, but not an attachment.

[code]
So if user creates `Attachment`, then put it into editor there is no designated way to get them back (well except iterating over attributedString of course).

I can create small PR if @rajdeep approves the idea 🙂

[2020-03-17 09:24] #18 closed, assigned to nobody

[2020-03-18 06:34] #19 closed, assigned to nobody

[2020-03-18 06:40] #15 closed, assigned to nobody

[2020-03-18 06:59] #7 closed, assigned to nobody

[2020-04-06 06:21] rajdeep opened #26 "Add SPM support"

[2020-04-06 06:45] vox-humana opened #27 "Question: How to get current active `EditorView`?"
One of the use cases: show typeahead picker while typing following the cursor in the current editor. It should work in nested editors as well.

`EditorCommandExecutor` uses internal `RichTextEditorContext` to get `activeTextView`. However, integrators don't have access to `EditorViewContext` internal properties.

The only way for now to get active editor I found is somehow detect active firstRespo

[2020-04-06 09:01] #27 closed, assigned to nobody

[2020-04-07 04:12] vox-humana opened #28 "Can I register a type of command, but not an instance?"
I'd like to filter some types of commands for some editors. `registeredCommands` seems the right place to do it.
However, `EditorView::isCommandRegistered` checks for instance equality but not for type equality. So, for example, if I don't have exact instance of command (mention with some userId is a good example) I can't register it and then it won't be executed.
Theoretically, I can skip this ch

[2020-04-08 08:30] #28 closed, assigned to nobody

[2020-06-19 00:42] vox-humana opened #45 "Cursor is bigger than font line height when editor has spacing"
When TextView has `paragraphSpacingBefore` or `paragraphSpacing` cursor covers this spaces and this seems not right especially when you have line selection.

Screenshots from Example app with these properties are set in `paragraphStyle`
<img width="135" alt="image" src="https://user-images.githubusercontent.com/53595/85084896-754b0a00-b219-11ea-80b5-31d7d72391f7.png">
<img width="180" alt="image"

[2020-06-23 03:53] vox-humana commented on #45
There is one place left. After an attachment text cursor is as toll as this attachment height if it is at the very end position.
Need to bring a special fix for this last character use case. Instead of using previous character line height, probably, need to get current line height from typing attributes.

[2020-06-23 04:49] rajdeep commented on #45
Why not consider using typing attributes at all times to get the height of the text?

[2020-06-25 01:41] #45 closed

[2020-08-07 15:10] frankai opened #52 "Encode/Decode Lists"
Hello! Congratulations and thanks for this great UITextView extension.

It seems that lists are not encoded/decoded yet, do you think that will be supported soon? ;)

Best regards,
Franky

[2020-08-07 22:54] rajdeep commented on #52
thanks, @frankai for your comment. Glad you liked the framework.

Encoding and decoding is not included in Proton by design. This is so that there's no enforced limitations on consumers to be able to use Proton the way they like. Moreover, the kind of content that can be created by Proton entirely depends on consumer, so the best I can do is to provide a mechanism to get the content in native attr

[2020-08-08 14:28] frankai commented on #52
Hi!
Yes! That helper really would be great!

Best regards,
Frankai

[2020-08-16 12:22] vmanot commented on #26
@rajdeep any ETA on this? Happy to pitch in, if there are no major technical roadblocks to adding SPM support.

[2020-08-16 12:27] rajdeep commented on #26
Hey @vmanot! I don't see any major issues other than the fact that I've not been able to manage time to get to it. Would be great if you'd like to contribute.

Thanks!

[2020-08-16 12:29] vmanot commented on #26
@rajdeep I'll try and open a PR soon.

[2020-09-05 11:17] rajdeep commented on #26
Closed in #54

[2020-09-05 11:17] #26 closed

[2020-09-09 03:06] simonboots opened #59 "Adding a list between two paragraphs results in the bullet point and indentation to disappear"
Trying to add a list in between two existing paragraphs results in an unexpected behaviour. Executing the `ListCommand` renders an indented bullet point between the two paragraphs but as soon as a character is entered, both the bullet point and the indentation disappear.

Repro steps:

1. Enter "Text", hit enter and type "Text" again
1. Move the cursor to the end of the first "Text"
1. Hit enter
1

[2020-09-10 10:39] rajdeep opened #62 "First item in new list is not sentence cased"
If you create a new list with blank text, i.e. using ListCommand in a new line without any text, the text that is typed does not start with a capital letter.

[2020-09-10 10:43] rajdeep opened #63 "Inconsistent List exit behaviour in middle of two non-list paragraphs"
Add a line of text and press return
Add another line of text
Create a multi-level list in the middle of these two lines (preferable 5-6 levels deep)
Hit enter at the last element of the list
The list item is outdented
Keep doing it all the way until all lists are exited.

**Observed:**
Selected range moves outside list at some point without exiting all the levels.

**Expected:**
List should outden

[2020-09-10 10:59] #59 closed

[2020-09-16 13:51] YoX89 opened #64 "FontTraitToggleCommand overwrites last executed command."
Hi,

This bug can be reproduced using the example app using the "Commands" example.

1. Write any letter.
2. Select Bold and Italic.
3. Write any letter.

The letter will now only be italic.

The code in question is the following in FontTraitToggleCommand.
[code]

It only looks at the attributes for the letter before the selected range. If you previously set something to `editor.typingAttributes`

[2020-09-17 00:53] rajdeep commented on #64
thank you for reporting this issue, @YoX89. I should be able to get a fix out soon.

[2020-09-17 08:24] rajdeep commented on #64
@YoX89, the check should indeed have been the same as in the previous statement. The bug has been fixed and merged. Thanks again.

[2020-09-17 08:24] #64 closed

[2020-10-08 03:26] arcrx opened #68 "Featue request: Add an example of usage with swiftui"
How could I use proton in a swiftui based macos app? It would be great if there's such an example.

[2020-10-09 03:41] rajdeep commented on #68
That's an interesting question. I have not started looking into integration with SwiftUI yet. Though I do plan to try that out in future, unfortunately it's not in one of the immediate priorities.

Keep an eye out for updates on this issue. Hopefully, I'll be able to make time to at least try it out.

[2020-10-09 06:50] vox-humana commented on #68
Proton is iOS library based on UIKit. Thus, you can't use it natively on macOS. Well, except in macCatalyst, but I assume it wasn't the question.
For using in SwiftUI on iOS (and macCatalyst) `UIViewRepresentable` should help.

[2020-10-14 03:56] huanxsd opened #69 "Are there any plans to develop a complete set of Markdown text processing?"
Thank you for providing such a powerful and customizable library.
In the demo, there is a simple text processor demo: MakeupProcessing.
are there any plans to develop a complete set of Markdown text processing?
For example, support markdown bold, italic, quotation marks, lists, etc.

[2020-10-14 08:59] rajdeep commented on #69
thank you for the appreciation, @huanxsd. As of now, I do not have any plans to incorporate other types of markdown processors. The example was created to demonstrate how it can be extended further. I am hoping that people who consume Proton would be able to create new processors/commands based on their requirements, and if they so wish, they may contribute back to Proton.

[2020-10-21 04:34] Alexs7zzh commented on #26
Because of the added objective-c code, Proton cannot be added via SPM any more. Error message:

[2020-10-21 05:08] rajdeep commented on #26
@Alexs7zzh, can you please provide some more details about your project and environment? I did a quick test and I am able to import proton using SPM:

<img width="261" alt="test_proj" src="https://user-images.githubusercontent.com/266423/96674770-3f7b8500-13b5-11eb-8601-3b31100c1ae3.png">

Obj-C code was added to Proton owing to poor performance of Swift based NSTextStorage which is something that

[2020-10-21 09:38] YoX89 commented on #52
Hi!

Do you have any idea when you'll have time to do this? Is there anything I can help with perhaps?

I've made my own encoding/decoding of lists but it feels a bit hacky because I need to know about the internal states of the framework to make it work, just as you said.

Thanks!
Jonathan

[2020-10-21 10:22] rajdeep commented on #52
hi @YoX89,
Unfortunately I have not been able to find time to prioritise this. My focus has been on improving performance and I'll likely be spending time in near future on trying to get better performance in Proton. Lists has certainly been one of the more complex features to develop, so I can understand the challenges you might have run into. Given that there are now at least 2 people who can be

[2020-10-21 13:23] Alexs7zzh commented on #26
@rajdeep Thanks for the reply!
I initiated an empty project and tried importing Proton. I find out I will only encounter this error when I set the rule of SPM to `Branch: Master`. I succeeded when importing based on version number.

FYI: I am running Xcode 12.2 beta 3 (12B5035g) on macOS Big Sure 11.0 Beta (20A5395g). I also tried Xcode 12.0.1 (12A7300). They have the same results.

[2020-10-21 20:40] rajdeep commented on #26
thanks for additional details, @Alexs7zzh. I have been testing on Catalina only as I do not have access to a machine with Big Sur yet. I'll look into it to see if I can find anything. It might end up being a bug on Apple's side - though, we need to investigate further to be able to conclude that.

[2020-10-22 09:49] YoX89 opened #70 "Ask framework if selected range is a list"
Hi,

Is there a way to ask the framework, for example the ListTextProcessor if the selected range is a list?

This would be good if you have a control to toggle lists on/off.

Thanks for a great framework!
Jonathan

[2020-10-22 10:00] rajdeep commented on #70
thanks, Jonathan.

`ListTextProcessor` does not provide a mechanism to see if the selected range is list. However, you can check for that via attributedString using either of the following approaches:

[code]
The location is the index of character in editor that you wish to test - or in your case, range.location.

If you have non-continuous range, you may also use:
[code]
`longestEffectiveRangeNot

[2020-10-22 11:03] YoX89 commented on #70
Thanks for the quick answer. The problem I'm having with that approach is when I do the following.

1. Start with an empty EditorView.
2. Insert a list.
3. Tap return/enter to get a second list line.

When doing this the didChangeSelectionAt delegate call returns a range that is (2, 0).

At the same time, the editor.attributedText.string.count returns 2. So the range is out of bounds of the text.

[2020-10-22 13:46] YoX89 opened #71 "No list indicator after pasting"
The paragraph style is kept but there is no starting list indicator.

This can be reproduced in the CommandsExampleViewController

1. Add a list
2. Paste text (in the screenshot I pasted "List")
3. Tap enter/return

![Simulator Screen Shot - iPhone 12 mini - 2020-10-22 at 15 42 50](https://user-images.githubusercontent.com/653054/96880478-7e750d80-147d-11eb-8363-0a187bd0e1d5.png)

[2020-10-23 04:05] rajdeep commented on #71
thanks for reporting the issue, @YoX89. I'll have a look at it.

[2020-10-27 10:14] vox-humana opened #72 "Placeholder doesn't appear after text deletion"
Before TextStorage replacement in  #66 `deleteBackward` caused `didCompleteLayout` layout manager delegate call which has `updatePlaceholderVisibility` inside.

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/53595/97286476-a5757a00-1897-11eb-9593-38f80fbada42.png">

However, after this TextStorage update `didCompleteLayout` isn't being called anymore and after removin

[2020-10-27 11:04] rajdeep commented on #72
Per my understanding, when the text is cleared, there's nothing really there to layout, and hence you don't get that event back. It seems that I should have had code to update visibility of the placeholder in `deleteBackwards` as well. This fix should work for you.

[2020-10-27 11:04] #72 closed

[2020-10-28 00:18] vox-humana commented on #72
Well, that's true except that isn't what happens with swift TextStorage (see callstack image from old version). Which by itself opens the question what else has changed after we introduced PRTextStorage.

Talking about the issue.
`deleteBackward` works for the case when user presses delete button, however, it doesn't work when simple setAttributedString is called.

I am looking for better place (c

[2020-10-28 01:48] rajdeep commented on #72
The difference could be there just because of Swift-ObjC mapping. I'll spend some more time looking into it as there could be other issues like you pointed out. However, the check needs to be in RichTextView and not storage. Placeholder is an attribute of textview, so that seems more apt to me. I'd been thinking about putting code in text changed. That might just be the right place.

[2020-10-28 02:30] huanxsd commented on #69
Got it, thank you very much

[2020-10-28 02:30] #69 closed

[2020-10-28 08:58] rajdeep opened #73 "Update snapshot tests + build.yml for iOS 14"

[2020-10-29 09:21] #73 closed

[2020-11-02 05:00] vox-humana commented on #72
Talking about storage I didn't mean `NSTextStorage` exactly, but was talking about attributed string. Unfortunately, `UITextViewDelegate` methods are not being called when we set `UITextView` content in code so need to find a better place for this check.

[2020-11-02 05:26] vox-humana commented on #72
I have two possible fixes:
1. Add `didSet` on `RichTextView::attributedText` and `RichTextView::text` properties
2. Notify `RichTextView` from `PRTextStorage::edited:range:changeInLength` via `TextStorageDelegate` (this should work with any storage modification so we don't need two other checks)

What option do you prefer @rajdeep? I am leaning towards the second option

[2020-11-02 05:54] rajdeep commented on #72
@vox-humana, second option looks good to me too.

[2020-11-02 05:55] vox-humana commented on #72
Probably, easier to show in code. Raised a PR, looking for feedback ;)

[2020-11-20 09:42] torfluor opened #76 "Installing with SPM fails due to mixed language source files"
When trying to include Proton in my project using SPM I get the following error message:
target at '[...]/SourcePackages/checkouts/proton/Proton/Sources' contains mixed language source files; feature not supported

I only get this issue on the master branch. Installing from the 0.5.0 tag works fine.

[2020-11-22 07:56] rajdeep commented on #76
thanks for creating the issue, @torfluor. This has already been highlighted in issue #26, along with the same solution/workaround you have here. I have not been able to find time to look into this and if there are any possible solutions. I'll keep this open and will try to revisit in near future.

[2020-12-01 07:42] vmanot commented on #76
@torfluor @rajdeep I fixed this in #82 - please take a look.

[2020-12-01 07:42] vmanot commented on #26
@rajdeep fixed in #82.

[2020-12-01 07:47] vmanot opened #83 "Support for SwiftUI"
Proton currently doesn't offer any SwiftUI ready APIs.

[2020-12-01 07:47] vmanot commented on #83
@rajdeep I'm willing to work on this, let me know if this is within the scope of the project or not.

[2020-12-01 07:51] rajdeep commented on #83
that'd be great @vmanot. I have not been able to manage any time lately. While I do hope to be able to spend more time in near future, I don't think I will be able to get to this any time soon. You may look into this and we can have a discussion once you have an idea on how you plan to approach this.

[2020-12-01 07:52] rajdeep commented on #26
thank you, @vmanot. I will have a look at #82 - hopefully in  current week itself.

[2020-12-01 07:55] vmanot commented on #26
@rajdeep sounds good! Let me know if you run into any issues. There's only one test failing currently, not sure what that's about.

[2020-12-01 07:57] vmanot commented on #83
@rajdeep I understand - I think I'll develop it as a separate package then (I don't want to diverge too far from `master` and at the same time intend to use it across a few projects). If/when it reaches maturity, you could consider absorbing it back into the main framework if appropriate.

[2020-12-01 07:59] rajdeep commented on #83
sounds like a plan! thanks again!

[2020-12-15 10:21] rajdeep commented on #52
`ListParser` has been implemented and merged to `master`. Please refer to [documentation](https://rajdeep.github.io/proton/Structs/ListParser.html) for details.

[2020-12-15 10:21] #52 closed

[2020-12-16 01:29] papajyp commented on #83
I have been working on a basic swiftui Rich Text Editor. I am lacking lists. I might be able to help. I am interested at least incorporating what you have into my app.

[2020-12-16 01:41] rajdeep commented on #83
that's cool, @papajyp. Please feel free to share any ideas, suggestions or code that you think would help get SwiftUI support.

[2020-12-16 02:03] #83 closed

[2021-01-03 12:02] writing-shed opened #85 "EditorView & UITextViewDelegate"
I am trying to add Proton to a SwiftUI app I've been developing for about a year. It contains a UITextView editor embedded in a UIViewRepresentable class. I want to have bullet/numbered lists and embedded images, which is not easy as I'm sure you know. In fact, trying to solve the problem is how I found Proton. Congratulations on a great piece of work!

I have experimented with the ExampleApp to g

[2021-01-03 22:01] rajdeep commented on #85
Hi @writing-shed,
Glad that you like Proton.  I do not have SwiftUI support/examples as yet but that is something which is in my near term roadmap. However, given the state of SwiftUI and the fact that Proton doesn't have any support as yet, it might take some time. If you are interested in contributing ideas, suggestions or even issues that you have faced, please feel free to join the discussion:

[2021-01-04 09:21] writing-shed commented on #85
Hi Rajdeep

Thanks for your reply. I had already tried using EditorViewDelegate but stupidly got the func signatures wrong! I've corrected them and it seems to be working, though I've still got some way to go to properly consume Proton.

I see that #83 was started by Vatsal Manot - I have been using parts of his SwiftUIX for over six months now. I will contribute to the thread when/if I think I ha

[2021-01-04 09:21] #85 closed

[2021-01-04 10:01] rajdeep commented on #85
I concur with your thoughts, @writing-shed. Apple certainly has kept a lot of useful features from developers. I hope with time, Proton will be able to help solve some of these issues and have usable SwiftUI support.

[2021-01-04 11:38] writing-shed commented on #85
When the Mac Classic came out I became a registered developer (1984 I think). The only documentation was collections of API definitions that could be downloaded from the Apple network (this was pre-web). One of these defined the API that was obviously used by MacWrite, so I started to use it. At the time all development was in Pascal, cross compiled and tested from a Lisa. I pretty soon discovered

[2021-01-04 15:16] vmanot commented on #85
@writing-shed I might be able to save you some work on the SwiftUI port, since I'm working on a similar project. Let me know if you're interested in collaborating.

[2021-01-05 12:52] writing-shed commented on #85
Thanks for the offer. I’m totally committed to completing my app at the moment and have only made a small change in direction to embed Proton. I am sure you will make a great job of porting it to SwiftUI. I would be quite happy to help you test it once I’ve got past my list of to do items, possibly embedding it in my app.

Best
Keith

[2021-01-07 13:10] writing-shed opened #88 "List Items - bullets not displayed"
I'm trying to get lists working. The attributed text looks the same as that produced by the example app, but the bullets don't appear, so I guess I'm missing a step somewhere. I've tried setting the listItem value to a bullet character and also the string "listItemValue".

I've traced through the code but can't see what's going wrong, although I did come across a TODO that questions the code at li

[2021-01-08 04:59] rajdeep commented on #88
@writing-shed, can you please check if you are providing the  `editor.listFormattingProvider` correctly? As I see, in your sample, the `headIndent` of paragraphStyle is 0. This needs to be a value greater than 0 to add bullets. This is what controls how much a list item is indented. Note that `listLineFormatting` in `ListFormattingProvider` needs to have indentation value of greater than 0.

A cor

[2021-01-09 13:48] santi-g-s opened #89 "Storing & setting of contents in EditorView programatically"
I am trying to store and set the data in EditorView to/from core data persistence.

I came across `EditorView.contents()` to extract the array of `EditorContent` that I could store to CoreData. However I'm not quite sure how to set this data to the EditorView from the persistent store? Is this the best way to handle data storage from the EditorView?

I don't just want to store the attributed strin

[2021-01-09 14:48] writing-shed commented on #88
Aha, I'd missed the ListFormattingProvider! After a few false starts I've managed to generate a List (see screenshot). In order to manage nested lists I will have to provide some UI furniture to generate tabs etc, these not being on an IOS screen keyboard. Thanks for your help.

<img width="545" alt="Screenshot 2021-01-09 at 14 41 25" src="https://user-images.githubusercontent.com/25199371/1040945

[2021-01-09 14:51] writing-shed commented on #89
Nor sure what you mean by `recreate the layout of the editor `. I use `EditorView.attributedText` with embedded `NSParagraphStyle` attributes. (see issue #88 for screenshots).

[2021-01-09 15:36] santi-g-s commented on #89
Oh of course. Didn't realise that all I needed was the attributedText. Just to clarify: the attributes include whether a string is a list item or not, correct?

Best wishes and thank you for your help.

[2021-01-09 20:46] writing-shed commented on #89
For lists you need to embed the paragraphs in the list within a single `.listItem` attribute. You also need to provide an `editor. listFormattingProvider` as per Rajdeep’s comment in issue #88.

[2021-01-09 21:58] #89 closed

[2021-01-09 22:09] santi-g-s opened #90 "Can't access EditorCommands in ProtonExtensions when using SPM"
When using SPM to install proton 0.5.0, I cannot access BoldCommand(),  ItalicCommand(), etc or anything within the ProtonExtensions folder.

To recreate issue:
[code]

[2021-01-10 02:15] rajdeep commented on #88
There's some bit of involved logic in creating lists. While you can certainly manage attributes yourself to make the list work, I would recommend trying out [ListCommand](https://rajdeep.github.io/proton/Classes/ListCommand.html) and [ListTextProcessor](https://rajdeep.github.io/proton/Classes/ListTextProcessor.html) if you are not already using it. ListCommand can be hooked on to the button that

[2021-01-11 10:05] rajdeep commented on #90
Thanks for reporting the issue. There's a PR open to fix SPM support. I hope to get this fixed with the same.

[2021-01-11 11:17] #88 closed

[2021-01-11 11:27] writing-shed opened #91 "EditorViewDelegate didChangeTextAt issue"
My app needs to respond to text changes in order to update its model data. I have implemented `func editor(_ editor: EditorView, didChangeTextAt range: NSRange)` to do this. If I enter some text, place the caret anywhere but the end, then enter a character, the character goes in the correct place but the caret is moved to the end. If I remove the delegate method it works OK (but obviously doesn't

[2021-01-12 04:57] rajdeep commented on #91
That's interesting. I'll check that out to see if I can recreate that behaviour. Can't think of why that might be happening 🤔 . Are you using any TextProcessors? If yes, can you try removing those and trying it again?

[2021-01-12 07:26] writing-shed commented on #91
No, not using any TextProcessors. I'm going to try tracing through it again today.

Best
Keith
Sent from my iPhone

[2021-01-12 09:23] rajdeep commented on #91
@writing-shed,  I have verified this in the `CommandExampleViewController` and I do not see the behaviour that you have described. Also, within the scope of this delegate function, there's nothing that should really affect caret positioning. I recommend having a look at the Example App to see if you can spot what you might be missing in your code:

![text-delegate](https://user-images.githubuserco

[2021-01-14 11:07] writing-shed commented on #91
Guess what? It was my fault. At some point after dealing with the text change I reset editor.attributedText which places the caret at the end. So I've saved the caret then reset it afterwards.

[2021-01-15 09:34] rajdeep commented on #91
That's cool. So shall we close the issue?

[2021-01-15 12:06] #91 closed

[2021-01-16 09:45] writing-shed opened #95 "enableSelectionHandles"
IMHO I think editor.enableSelectionHandles should default to false.

[2021-01-17 02:32] rajdeep commented on #95
I think your suggestion makes sense. I'll look at that again and revise the code accordingly. Thank you for highlighting the possible improvement.

[2021-01-17 03:33] #5 closed

[2021-01-17 13:36] writing-shed commented on #95
Excellent. As a matter of interest when might one need to set it true?

[2021-01-17 13:47] writing-shed opened #97 "EditorListFormattingProvider"
I have implemented my own `EditorListFormattingProvider`. Looking at your code it looks like I need to have a  `LayoutManagerDelegate` that overrides `listLineMarkerFor` somehow. Is that correct?

[2021-01-17 18:47] writing-shed opened #98 "Tab on screen keyboard"
Given that there is no tab key on the screen kbd have you any idea how to simulate one given that List Processing depends on it. I can set up an item using UIMenuController, but can't work out how to invoke `handleKeyCommand`.

[2021-01-20 09:04] rajdeep commented on #97
@writing-shed, the purpose of  `listLineMarkerFor` is to return the bullet/number that you wish to render to denote a list item. The argument passed in for levels are only to help consumers control the logic granularly. This acts as more like a standalone function that is eventually used by `LayoutManager` via `LayoutManagerDelegate`. However, `LayoutManagerDelegate` is internal and need not be ac

[2021-01-20 09:16] rajdeep commented on #98
@writing-shed, you have raised a good point. It looks like API can be improved a little, and I'll find time to expose better construct to be able to do that. Having said that, given the current API design, you can use `ListTextProcessor.handleKeyWithModifiers()` with appropriate arguments to simulate the same behaviour.  For example, executing the following code in `Encode` button yields the resul

[2021-01-20 09:20] rajdeep commented on #95
This is required to be `true` when you want to show the text as selected programatically. Checkout the `Scroll To` in Renderer example. Without this being `true`, the text that is found is not shown as selected and the Renderer does not scroll to that text.

[2021-01-21 09:52] writing-shed commented on #97
Ok, I get that. So how can I configure Proton to use bullets other than those provided by the default ListFormatting provider (I have written my own SequenceGenerator).

[2021-01-21 09:53] writing-shed commented on #98
Thanks for this, I'll give it a whirl.

[2021-01-21 10:20] rajdeep commented on #97
Can you check if you have set `editor.listFormattingProvider` to your custom implementation? Once you do that, you can use your `SequenceGenerator` in the `EditorListFormattingProvider.listLineMarkerFor` that you have. Checkout `CommandsExampleViewController` for a sample implementation.

[2021-01-21 11:03] writing-shed commented on #98
I tried doing this using a menu added to the shared UIMenuController, only to discover that there is bug in SwiftUI! It doesn't display the menu, so I've had to submit a bug report.

[2021-01-21 11:18] writing-shed commented on #97
Thanks. No I hadn’t. I missed it on the editor API.

[2021-01-23 05:38] #95 closed

[2021-01-23 11:46] writing-shed commented on #97
At first I fell foul of the weak reference in the editor, but it worked a treat once I realised.

[2021-01-23 11:46] #97 closed

[2021-01-24 03:45] rajdeep commented on #98
@writing-shed, shall we close this issue? It might just be helpful to others to mention the bug you've logged in SwiftUI.

[2021-01-24 09:44] writing-shed commented on #98
Yes, close it. The feedback reference is `https://feedbackassistant.apple.com/feedback/8977163`

[2021-01-24 09:47] #98 closed

[2021-01-28 08:56] writing-shed opened #101 "ListCommand issues"
My app uses a style mechanism similar to the one in Pages. To this end it maintains model data describing the style structure of each document. This data is used to generate the attributed text whenever necessary. The issue I have faced is that Proton keeps the nesting structure of lists close to its chest, so it is impossible to regenerate it from model data. I have resolved this for now by savin

[2021-01-31 06:39] rajdeep commented on #101
@writing-shed, have you tried using [ListParser](https://rajdeep.github.io/proton/Structs/ListParser.html) for the first issue you have described? I believe, it should help you in saving/restoring data to/from the Editor.

For the second issue, there's no clear callbacks that you can hook on to right now. I do agree that it could be helpful. Within the Lists processing code, I can add constructs t

[2021-01-31 09:11] writing-shed commented on #101
Thanks, ListParser looks good. Unfortunately it doesn’t exist in v0.5.0!

I look forward to the callbacks.

[2021-02-11 14:51] TheDragonessOfTheMoon opened #102 "New tag"
Hi,
I really enjoy proton :). I was wondering if you have any plans to create a new tag soon?

[2021-02-11 22:01] rajdeep commented on #102
thank you, @TheDragonessOfTheMoon. I am looking at resolving the SPM issue with the latest `master`. I am planning to create a new tag as soon as that's done.

[2021-02-11 22:01] #102 closed

[2021-02-19 18:12] wmtylerdavis opened #103 "NumericList Items Don't Initially Render Properly"
The pops up on several numbers. I tried to do dig a bit into LayoutManager and drawListItem but failed to really find much.

I also switched out the ListLineMarker and returned a UIImage, the images also failed to render correctly at the same indices.

![Simulator Screen Shot - iPhone 11 - 2021-02-19 at 13 07 58](https://user-images.githubusercontent.com/974407/108543771-828e2c00-72b3-11eb-92cb-fd

[2021-02-19 22:23] rajdeep commented on #103
This is a known issue, @wmtylerdavis. Unfortunately, I've not been able to find a fix for that yet. It happens when the list item is rendered at the point where Editor is going to expand the first time.

[2021-02-22 15:13] wmtylerdavis commented on #103
I'll see if I can get more time to help out on this. Overall, I'm really happy with Proton. It's made my life a lot easier.

[2021-02-22 20:39] rajdeep commented on #103
Thank you, @wmtylerdavis

[2021-03-01 15:47] santi-g-s opened #106 "SwiftUI UIRepresentable EditorView extends beyond swiftUI view"
I am using Proton with swiftUI through a UIRepresentableView. I am having trouble enabling the scroll functionality when the editor reaches its container size.

I set up my view this way:
[code]

I have tried using .frame(height) in the parent SwiftUI View but this didn't seem to affect the underlying editorView.

Does anyone know how to get scrolling working with SwiftUI?

Many thanks

[2021-03-03 15:40] santi-g-s opened #108 "How to support multiple list formats"
I want to let the user create both ordered and unordered lists but I'm not sure how to support this.

I tried adding a `@Binding` to the EditorListFormattingProvider but for obvious reasons this affects all lists in the EditorView:

[code]

Is there a way to do this?
Thank you

[2021-03-03 20:38] santi-g-s opened #109 ""_blockContentType" doesn't conform to NSSecureCoding"
Hi, sorry for bombarding you with issues recently.

I am trying to save the attributedString created by Proton to Core Data. To save the `NSAttributedString` to core data I'm converting it to `NSData` using an `NSSecureUnarchiveFromDataTransformer`. This requires that everything conform to `NSSecureCoding` before being transformed into `NSData`. Here lies the problem

I believe the custom `NSAttri

[2021-03-04 06:30] rajdeep commented on #108
The idea of `attributeValue` in `lineMarkerFor()` is so that it can be used to pass the data that one might need to deduce the list type. For eg. you can create a structure/data type that contains the list type besides any other data that you might be keeping in the `attributeValue`. In this function, you can then inspect the value passed in (e.g. `listStyle`) and return the appropriate marker. Ho

[2021-03-04 06:30] #108 closed

[2021-03-05 15:17] YoX89 commented on #109
There are no guarantees in general that any attributes in `NSAttributedString` conform to `NSSecureCoding`. I think I've seen cases where attributes added by Apple don't conform.

I had the same issue as you and what I ended up doing was to convert to a custom class myself and then store that in core data. Then when I need to edit it later I convert it back to `NSAttributedString`.

Maybe not the

[2021-03-05 21:23] santi-g-s commented on #109
@YoX89 Many thanks. I'll look into that.

Forgive my lack of knowledge, but how would one go about converting NSAttributedString to a custom class?

Thanks again.

[2021-03-06 00:36] rajdeep commented on #109
that's a great suggestion, @YoX89. @santi-g-s, a typical implementation that I have in mind when one would like to persist the text is by converting into a different kind of format. You can use your custom encoder/decoder for that. If you would like to see a custom implementation, you may refer to [custom encoders](https://github.com/rajdeep/proton/tree/master/ExampleApp/ExampleApp/Encoding/Encode

[2021-03-12 05:38] #109 closed

[2021-03-23 06:31] rajdeep commented on #4
As of now, ProtonExtension has been removed from being a separate project. If need arises, this will be recreated in future.

[2021-03-23 06:31] #4 closed

[2021-04-01 08:08] writing-shed commented on #101
I've abandoned my initial approach (part of my pre-Proton design) in favour of a new approach that accommodates the Proton design

[2021-04-01 08:08] #101 closed

[2021-04-01 08:11] writing-shed commented on #68
I've got it working with SwiftUI using `UIViewRepresentable`. It's quite straightforward.

[2021-04-01 10:09] rajdeep commented on #76
@torfluor, this has been fixed in the latest release 0.6.0.

[2021-04-01 10:09] #76 closed

[2021-04-01 10:11] rajdeep commented on #90
@santi-g-s, ProtonExtensions has been dropped and the commands are now available in Proton itself. Checkout the latest release.

[2021-04-01 10:11] #90 closed

[2021-04-09 10:55] writing-shed opened #112 "List formatting issue"
I have an issue with displaying a list. The list is displayed OK until I hit enter, after which the output is incorrect.

Here's the list before typing Enter:

<img width="367" alt="Screenshot 2021-04-09 at 11 46 01" src="https://user-images.githubusercontent.com/25199371/114169947-21d1b600-992a-11eb-9b81-8ce4b9e507c6.png">

Here's the list after:

<img width="367" alt="Screenshot 2021-04-09 at 11

[2021-04-10 07:34] writing-shed commented on #112
Ignore this. My formatting code had reset FirstLineHeadIndent to zero. Sorry.

[2021-04-10 07:34] #112 closed

[2021-04-27 12:35] writing-shed opened #113 "V0.6.0 won't compile with Xcode 12.5"
Just upgraded Xcode and Proton's ObjC code has stopped compiling - NS_ASSUME_NONNULL_BEGIN unknown.

I've tried going back to v0.5.0 but that won't compile because ListParser is not implemented in that version. So I'm stuck, although I could copy the ListParser code as a workaround.

[2021-04-27 12:41] writing-shed commented on #113
Tried copying ListParser, but that won't compile because (I'm guessing) it depends on stuff in v0.6.0, so I am really stuffed.

[2021-04-28 08:08] rajdeep commented on #113
thanks for reporting the issue, @writing-shed. I have fixed the issue and published a new release. Please try [v0.6.1](https://github.com/rajdeep/proton/releases/tag/v0.6.1).

[2021-04-28 08:08] #113 closed

[2021-05-01 03:23] roanutil opened #115 "Support Multiple `EditorListFormattingProvider`s in an editor"
I'm looking into how to support multiple list formats in the same editor. At minimum it feels natural to support ordered and unordered lists in one editor. Before going too far, is this something already in progress? Would it be a welcome addition?

[2021-05-02 05:26] rajdeep commented on #115
@roanutil, Proton already supports combining different types of list formats. ExampleApp includes a sample that shows how to combine multiple list formats. You may checkout the sample implementation [here](https://github.com/rajdeep/proton/blob/master/ExampleApp/ExampleApp/AdvancedFeatures/CommandsExampleViewController.swift#L248). Basic idea is that you need to add your custom [sequence generator

[2021-05-03 02:23] roanutil commented on #115
To clarify what I mean:

Supporting multiple, independent list styles without changing indentation within the same list. To me, that's really one list style as it's just changing symbols for different indent levels.

Currently, I can't add a command for both ordered and unordered lists in the same editor.

[2021-05-03 08:10] rajdeep commented on #115
@roanutil, this is something that can be done by the consumer i.e. like yourself. If you look at the signature of the function:
[code]
you can apply any custom value as an attribute to the list item text which will be passed into this function when the list is being laid out. Based on the attribute value, you can decide to return a numeric value or a bullet symbol. Other parameters like `level` an

[2021-05-06 08:38] rajdeep commented on #115
@roanutil, I assume that you are able to get the lists working per your requirements. Please feel free to reopen this issue should you have any further questions.

[2021-05-06 08:38] #115 closed

[2021-05-14 06:39] YoX89 opened #116 "NSRangeException when using lists"
Hi, this is a crash that is 100% reproducible in the sample app in the "Commands" example.

1. Tap "List" command.
2. Tap enter.
3. Tap "List" command again
4. Tap enter again
5. Crash

[code]

[2021-05-14 08:39] YoX89 commented on #116
I've traced it to `func exitListsIfRequired(editor: EditorView, editedRange: NSRange)` in `ListTextProcessor.swift`.

In the end of that method we set the `executeOnDidUpdate` closure to remove the blank line filler.
`editor.replaceCharacters(in: NSRange(location: currentLine.range.location + 1, length: 1), with: "")`

If I update the selected range in `func didProcess(editor: EditorView)` to a va

[2021-05-16 08:09] rajdeep commented on #116
thank you for reporting the issue and likely cause, @YoX89. I'll have the fix soon.

[2021-06-11 05:10] glennposadas commented on #88
Hi @rajdeep and @writing-shed . How do I replace the number list with actual bullets? OR say with a specific character? Thank you so much! And thanks @rajdeep really for creating this project.

[2021-06-11 08:24] rajdeep commented on #88
@glennposadas, you can control the bullets/numbers using the [EditorListFormattingProvider. lineMarkerFor](https://rajdeep.github.io/proton/Protocols/EditorListFormattingProvider.html#/s:6Proton28EditorListFormattingProviderP17listLineMarkerFor6editor5index5level13previousLevel14attributeValueAA0cgH0OAA0B4ViewC_S3iypSgtF). Based on your logic, you can return [ListLineMarker](https://rajdeep.github

[2021-06-11 11:47] writing-shed opened #117 "Xcode 13"
Proton fails to compile with Xcode 13.0 beta. Error: CompileSwiftSources failed with nonzero exit code

[2021-06-12 10:27] rajdeep commented on #117
thanks for reporting, @writing-shed. I'll check it out soon.

[2021-06-13 02:52] rajdeep commented on #117
@writing-shed, I have verified Proton on Xcode Beta 13 (Big Sur) and it all seem to work fine. Can you see if there's an issue at your end?

<img width="1418" alt="compilation" src="https://user-images.githubusercontent.com/266423/121793829-30985a00-cc46-11eb-88bd-6fbc19831193.png">

https://user-images.githubusercontent.com/266423/121793833-3857fe80-cc46-11eb-987d-7bcbcae82a8d.mp4

[2021-06-13 06:39] writing-shed commented on #117
I just tried it again and it worked. I use another package (SwiftUIX) that was failing. This is been corrected so perhaps there was some interaction. Who knows. I tried to change the proton version in the Example app but it failed adding a new package. It did the same on my app. Here is a screenshot:

<img width="507" alt="Screenshot 2021-06-13 at 07 32 28" src="https://user-images.githubuserconte

[2021-06-13 08:30] rajdeep commented on #117
@writing-shed, that's odd. I tried that too in the ExampleApp as well as a new app that I created to add the package. I am able to add that to both without any issues. I recommend doing a full clean using cmd-shift-K or clear your DerivedData folder.
<img width="777" alt="Screen Shot 2021-06-13 at 6 26 44 pm" src="https://user-images.githubusercontent.com/266423/121800459-5d179a80-cc75-11eb-8011-4

[2021-06-13 16:32] writing-shed commented on #117
No, it definitely doesn't work for me. Are you using Xcode 13 beta? The package handling has changed - it now talks about package collections which were introduced with the new version.

https://user-images.githubusercontent.com/25199371/121815234-41a89180-cc6d-11eb-9bb5-21de8ea93ba2.mov

[2021-06-14 08:35] writing-shed commented on #117
Doh! They've changed the interface - entering the git url in the search field does the trick!

[2021-06-14 08:35] #117 closed

[2021-07-02 06:17] vox-humana opened #118 "Range exception on deleting panel attachment from the inside"
Steps:
- Open ExampleApp
- Insert panel
- Remove empty line after the inserted panel
- Put cursor back inside the panel
- Press backspace once to delete the panel
- Press backspace second time to trigger the crash

I suspect that before calling `deleteBackward` in [parent RichTextView](https://github.com/rajdeep/proton/blob/master/Proton/Sources/Swift/Core/RichTextView.swift#L354) `selectedRange`

[2021-07-05 09:44] rajdeep commented on #118
@vox-humana, thanks for reporting the issue.

[2021-07-05 09:44] #118 closed

[2021-07-05 11:01] vox-humana commented on #118
Thanks for fixing it. For sure I would be looking into the wrong place trying to fix it 😅

[2021-07-13 12:32] MountainAndMorning opened #119 "How to run the ExampleApp?"
How to run the ExampleApp?

[2021-07-14 03:38] rajdeep commented on #119
hi @MountainAndMorning, you only need to select the "ExampleApp" scheme in the Xcode along with iPhone simulator/Mac that you wish to run this with.

<img width="522" alt="xcode" src="https://user-images.githubusercontent.com/266423/125557028-993ada06-1253-46f4-8729-b24ebaf2e83a.png">

Feel free to open this issue again in case you're running into some issues with a specific version of Xcode/devic

[2021-07-14 03:38] #119 closed

[2021-07-21 11:27] writing-shed opened #120 "Problem with Strikethrough when changing attributedText"
Setting attributedText containing an attribute containing strikethrough results in strikethrough applied to all attributes. Setting the text with  an attribute containing underline results in strikethrough=0 appearing in the other attributes. Maybe the fact that both underline and strikethrough attributes use the same value type - namely NSUnderlineStyle.single.rawvalue?

Here are dumps taken from

[2021-07-23 10:24] rajdeep commented on #120
@writing-shed,
It looks like there might be an issue in how the attributes are getting applied in your code. Strikethrough and Underline have different attribute keys so it should not have ant effect on a range that these are applied to. Having same value does not have any side-effects.

To validate the same, I have added a new [AttributesToggleCommand](Proton/Sources/Swift/EditorCommand/Commands/

[2021-07-25 08:18] writing-shed commented on #120
I'm not sure you have understood the problem. Both underline and strikethrough work fine when applied to a continuous piece of text as shown in the example app. The problem occurs if you try and apply them to text with a range of differing underline attributes as in the dumps I sent you.

Here is a screenshot after the strikethrough is applied to some text:

<img width="329" alt="Screenshot 2021-0

[2021-07-25 08:39] rajdeep commented on #120
@writing-shed, I might still be missing the issue here. Does the following video reflect the case you're talking about? If not, can you please record a video to show what you're trying to do?

https://user-images.githubusercontent.com/266423/126893078-b0be6dd5-71f4-4abb-9610-75613d9f1795.mp4

[2021-07-25 09:10] writing-shed commented on #120
Thanks for the reply. The app has a custom attribute for styles - paragraph and emphasis. I apply an emphasis (strikethrough) then apply a different paragraph style. If you look at the dumps I sent you will see what I mean.

Best
Keith
Sent from my iPhone

[2021-07-25 09:44] rajdeep commented on #120
I did try doing exactly the same thing as you have mentioned in your last comment, and I still do not see any issues:

https://user-images.githubusercontent.com/266423/126894698-62fca437-f284-4210-ab9b-6a89c60675de.mp4

Are you able to recreate the same issue in the ExampleApp so that I can debug the problem?

There can be a number of reasons for the behaviour you're seeing in your code including

[2021-07-25 10:08] writing-shed commented on #120
The two lines I mention have the effect of splitting the attributedString provided to thee attributedText method then tue following code recombines it thereby propagating the underline attribute across tue the hole paragraph. I don't understand why this is done because it corrupts the input which is fine. I'll try and reproduce it in a test.

Best
Keith
Sent from my iPhone

[2021-07-25 15:02] writing-shed commented on #120
Hi

Here is a test that reproduces the issue. It happens if I call editor.attributedText twice. The first time with some stuck through text, the second with an attribute change to the paragraph	style (in fact probably any change). I’ve attached a test app for you to look at. It doesn’t matter if you don’t know SwiftUI -the issue is demonstrated in the two files TextViewTest and ProtoViewTest.

If

[2021-07-25 15:09] writing-shed commented on #120
[TestStrikethrough.zip](https://github.com/rajdeep/proton/files/6874087/TestStrikethrough.zip)

Here's the test

[2021-07-27 08:07] writing-shed commented on #120
I've fixed this. I hadn't realised both underline attributes were needed whether true or false.

[2021-07-27 08:07] #120 closed

[2021-08-08 09:33] writing-shed opened #126 "LayoutConstraints issue"
My app embeds an EditorView in a SwiftUI UIViewRepresentable struct which is the documented way to use UIKit views. The problem is that the text does not scroll when it reaches the bottom of the view. However, if I close the view and reopen it things wok as expected.

I have found that AutogrowingTextView.LayoutSubviews is only called once when the view opens, so isScrollEnabled is left set to fal

[2021-08-10 08:06] rajdeep commented on #126
@writing-shed, thanks for reporting the issue. I have not yet got a chance to look into using Proton with SwiftUI. However,  I do plan to try it out and making Proton have more compatible API. However, that might not be soon enough as there are some other improvements that I am focussing on in Proton.

Having said that, to provide a bit more context on how scrolling works in `AutogrowingTextView`,

[2021-08-22 16:15] niklasgrewe commented on #85
Hi @writing-shed @vmanot
i just came across Proton by accident. I'm also currently developing an iOS app in SwiftUI and am looking for a native flexible rich text editor. It has been some time since January. Can you tell me any experiences? How well does Proton work in SwiftUI? Am looking forward to your reply.

Best regards
Niklas

[2021-08-22 18:17] niklasgrewe commented on #106
@santi-g-s could you share your full view setup with Coordinator? How do you make the Binding etc?
I am also looking to implement Proton in SwiftUI

[2021-09-13 07:16] writing-shed commented on #85
Hi

Yes, I am still using Proton and it is working very well for me. I still have it sitting inside UIViewRepresentable. I have had a few hiccups, all down to the way I was handling the data and not understanding Lists properly. TBH the fact that I am using SwiftUI  has not impacted on the way I use Proton. It would be pretty much the same if I was using UIKIt. The big plus point is that I am buil

[2021-09-27 17:32] 101airborne opened #127 "Build ExampleApp fails with Undefined symbols for architecture x86_64: "_OBJC_CLASS_$_PREditorContentName""
Trying to build  "proton-main.zip" or "proton-0.6.1.zip" ExampleApp fails with:

_Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_PREditorContentName", referenced from:
      objc-class-ref in JSONDecoder.o
      objc-class-ref in JSONEncoder.o
      objc-class-ref in ParagraphEncoder.o
      objc-class-ref in WidthRangeAttachmentExampleViewController.o
      objc-class-ref in Autogrow

[2021-09-29 09:37] rajdeep commented on #127
@101airborne,
Thank you for reporting the issue. I'll check that out. In the mean time, you can use the following steps to add SPM dependency:

1. In your project in Xcode, select File-> Swift Packages -> Add Package Dependency.
2. Use the repo url: https://github.com/rajdeep/proton

<img width="719" alt="step1" src="https://user-images.githubusercontent.com/266423/135243574-c7955851-19e3-4cc4-acf

[2021-09-29 21:24] 101airborne commented on #127
Thanks for info.  I was able to build my own sample project after adding SPM URL.  I then copied the ExampleApp folder from proton-main.zip and added the Proton SPM URL.  It wouldn't build until I deleted the Build Phase/Copy Frameworks and the Frameworks group. ExampleApp now builds and runs fine.

[2021-10-01 04:57] rajdeep commented on #127
thank you, @101airborne. The issue has been fixed in the latest `main` branch.

[2021-10-01 04:57] #127 closed

[2021-10-25 10:24] BearChao opened #131 "SwiftUI support require"
Could you please support SWiftUI framework？It will be pretty good~ Thanks for your great job.

[2021-11-08 14:08] hoangnam714 opened #132 "how to change panel state and save it"
<img width="262" alt="Screenshot 2021-11-06 at 10 01 17" src="https://user-images.githubusercontent.com/51524705/140756141-3d27d4e9-f836-4435-af9e-e1a0c4a7d71f.png">
how get and set the state of the panel so that when I reload it I can tell it is being selected and deselected

[2021-11-09 01:10] rajdeep commented on #132
@hoangnam714, since the `panel` is just a `UIView`, you can add logic to the `panel` itself to fetch its state when it is loaded. You may also add the logic to save the state to your persistent store when the checked state is changed in the view. Doing so, you will be able to keep all your saving/retrieving logic within the view itself. Alternatively, to save state, you may also read the `attribut

[2021-11-11 14:36] hoangnam714 commented on #132
Thank you for @rajdeep reply, do you have contact by telegram or other social network, it would be great if some of my questions are answered quickly

[2021-11-11 22:11] rajdeep commented on #132
Github is good for any discussion you might want to have. You may also use the [Slack channel](https://join.slack.com/t/proton-etd3355/shared_invite/zt-yyt7um1c-LwQpQWr_OmmZ11_F2sHjTQ).

[2021-11-22 03:40] BearChao commented on #131
Thanks very much!

[2021-12-21 06:35] hoangnam714 opened #133 "attribute text contains some non-existent spaces"
<img width="380" alt="Screenshot 2021-12-21 at 13 33 21" src="https://user-images.githubusercontent.com/51524705/146882802-b6665689-b7c5-4e0d-a7b0-6b5e92448208.png">

only 3 newline exists but when i check it is returned 5 newline
[code]

[2022-01-18 13:36] writing-shed opened #134 "EditorView delegate issue"
Adding text to the editor followed by an enter character displays  inconsistent behaviour.

Type 1 character followed by enter - on receiving the enter the delegate correctly calls shouldHandle followed by didChangeText.

Alternatively, with an empty editor type 2 characters followed by enter - this time on receiving enter the delegate calls didChangeText followed by shouldHandle followed by didCh

[2022-01-24 13:52] writing-shed commented on #134
Seems OK now. Must have been something else I did upset it,

[2022-01-24 13:52] #134 closed

[2022-01-29 08:25] writing-shed opened #135 "Support?"
There hasn't been any activity here for a while. Are you still supporting Proton?

[2022-01-29 09:42] writing-shed commented on #133
Proton inserts the "_blockContentType" = "EditorContent.Name(rawValue: \"_newline\" attribute when you press enter. There are 5 of these in your post.

[2022-01-29 09:42] rajdeep commented on #135
@writing-shed, I've been busy with other commitments but ya! I do plan to support Proton. I'll get back to it in sometime. Have been thinking about some logical extensions.

[2022-01-29 11:34] writing-shed commented on #135
Thanks for this.

[2022-01-29 11:34] #135 closed

[2022-01-31 12:02] writing-shed opened #136 "Adding images to Proton.Attachment"
I am trying to add Images to EditView. I tried simply adding an NSTextAttachment containing an image which worked, but I couldn't find a way to detect touches. So...

I replicated the Panel and PanelView code in the ExampleApp as a way of adding Images. Again that works, but I still have the same problem - I can't detect touches.

Have you tried this and made it work?

[2022-01-31 23:04] rajdeep commented on #136
@writing-shed, since `Attachment` contains a `UIView`, you can add a `UITapGestureRecognizer` to the view in `Attachment` and have a `delegate` (if you need to handle that outside scope of attachment) that you can use from your app to get a callback when gesture recognizer is triggered.

[2022-02-01 08:22] writing-shed commented on #136
Thanks. I've already tried that. Here's the code:

First the start of the PanelView
`class PanelView: UIView, BlockContent, EditorContentView {
    let container = UIView()
    let editor: EditorView
    let typeView = UILabel()
    weak var delegate: PanelViewDelegate?
    var tap: UITapGestureRecognizer?
`

Now the code to set up the recognizer:
`            tap = UITapGestureRecognizer(target:

[2022-02-01 12:05] writing-shed commented on #136
I realised that the container frame was zero so gave it the same dimensions as the image. This made no difference.

[2022-02-02 04:47] rajdeep commented on #136
Try adding the view in attachment as a subview of the Editor directly. If you're able to invoke touch in this setup, it should work when in an attachment as well.

[2022-02-03 10:36] writing-shed commented on #136
I tried your suggestion and it did respond to the touch, but didn't display the image. In the end, after a lot of experimenting, I abandoned the approach and tried using Attachment directly. So now I have the following Attachment class:

`class ImagePanel:Attachment {
    init<AttachmentView>(_ contentView: AttachmentView,
                                  size: AttachmentSize,

[2022-02-05 07:39] rajdeep commented on #136
I tried doing the same in ExampleApp and am able to get the tap working on the image. This is the code that I used:
[code]
and I add it to editor as follows:
[code]

The image changes from one to another on tap:

https://user-images.githubusercontent.com/266423/152633151-0f46d0ff-3d73-4296-b260-b240a65eefe4.mov

**Are you missing** `self.addGestureRecognizer(gestureRecognizer)` on the attachment v

[2022-02-05 10:49] writing-shed commented on #136
Wow, at last! Thank you so much. I've got it working using a version of your code. I had misunderstood UIImageView so ended up with it drawing nothing when I tapped. Usual problem: RTFM.

It might be worthwhile enhancing Proton to support embedded images.

[2022-02-05 10:49] #136 closed

[2022-02-06 10:55] writing-shed opened #137 "NSAttributedString error"
When I save text containing an Proton.Attachment attribute it fails with this coding error:

`    NSUnderlyingError = "Error Domain=NSCocoaErrorDomain Code=4866 \"The data couldn\U2019t be written because it isn\U2019t in the correct format.\" UserInfo={NSUnderlyingError=0x60000299d8f0 {Error Domain=NSCocoaErrorDomain Code=4864 \"This decoder will only decode classes that adopt NSSecureCoding. Cla

[2022-02-06 11:59] writing-shed commented on #137
Thinking about this I can see that I can’t save the editor attributed string with the images, but will have to save the images seperately and load them into the editor when the file is opened.

[2022-04-05 10:20] writing-shed opened #138 "Crash in LayoutManager while updating Editor"
`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '-[Proton.LayoutManager _fillLayoutHoleForCharacterRange:desiredNumberOfLines:isSoft:] *** attempted layout while textStorage is editing.  It is not valid to cause the layoutManager to do layout while the textStorage is editing (ie the textStorage has been sent a beginEditing message without a matching endEd

[2022-04-05 23:59] rajdeep commented on #138
@writing-shed, do you have steps to recreate this issue? This may be caused by what happened before deleting the attachment during the same instance/flow.

[2022-04-06 11:48] writing-shed commented on #138
I'd previously call insertAttachment thinking it would replace an existing one at the same location. Removing it sorted the issue, so thanks for the hint.

[2022-04-06 11:48] #138 closed

[2022-04-06 13:04] writing-shed opened #139 "SecureCoding issue"
Im getting the following error when saving:

`CoreData: error: SQLCore dispatchRequest: exception handling request: <NSSQLSaveChangesRequestContext: 0x6000003e43c0> , <shared NSSecureUnarchiveFromData transformer> threw while encoding a value. with userInfo of {
    NSUnderlyingError = "Error Domain=NSCocoaErrorDomain Code=4866 \"The data couldn\U2019t be written because it isn\U2019t in the corre

[2022-04-09 01:27] rajdeep commented on #139
@writing-shed, I have made `EditorContentName` [compliant](https://github.com/rajdeep/proton/commit/787f955a9994c84867e0f2a46b4cd756cc8dd744) with `NSCoding`. You should be able to add an extension now to make it comply with NSSecureCoding:

[code]

[2022-04-09 01:28] rajdeep commented on #137
handled as part of #139

[2022-04-09 01:28] #137 closed

[2022-04-09 01:28] #132 closed

[2022-04-09 01:29] #133 closed

[2022-04-09 07:24] writing-shed commented on #139
The extension doesn't compile - says EditorContentName can't be found. Maybe this is because it's obj-c code?

[2022-04-09 21:44] vox-humana commented on #139
This is how the class looks like in Swift
<img width="521" alt="image" src="https://user-images.githubusercontent.com/53595/162592449-0a6c5892-4d57-40cc-8223-ca8b03f03d69.png">
Thus, it should be available in client code under this name.
@writing-shed are you sure you didn't forget to add `import Proton`?

[2022-04-10 00:58] rajdeep commented on #139
@writing-shed, `EditorContentName` is defined originally as `PREditorContentName` which is under module `ProtonCore`.  I assume the issue is with `import` or linking.

[2022-04-10 07:52] writing-shed commented on #139
I was importing Proton. You have to import ProtonCore!

[2022-04-10 08:12] writing-shed commented on #139
Spoke too soon. It now fails with:

`CoreData: error: SQLCore dispatchRequest: exception handling request: <NSSQLSaveChangesRequestContext: 0x600000652ac0> , <shared NSSecureUnarchiveFromData transformer> threw while encoding a value. with userInfo of {
    NSUnderlyingError = "Error Domain=NSCocoaErrorDomain Code=4866 \"The data couldn\U2019t be written because it isn\U2019t in the correct format

[2022-04-10 08:46] rajdeep commented on #139
Does adding an extension not work for this too?

[2022-04-11 07:06] writing-shed commented on #139
Extension to what?

[2022-04-13 10:26] vox-humana commented on #139
@writing-shed the same conformance to `NSSecureCoding` in this `Proton.Attachment` class you are getting error about:
[code]

[2022-04-13 15:14] writing-shed commented on #139
I've now added:

[code]

Which gives the error:

CoreData: error: SQLCore dispatchRequest: exception handling request: <NSSQLSaveChangesRequestContext: 0x600000486c40> , <shared NSSecureUnarchiveFromData transformer> threw while encoding a value. with userInfo of {
    NSUnderlyingError = "Error Domain=NSCocoaErrorDomain Code=4866 \"The data couldn\U2019t be written because it isn\U2019t in the co

[2022-04-15 07:34] writing-shed commented on #139
I have decided to convert the Transformable attribute into a JSON String. However, a couple of Proton string attribute keys are internal - isBlockAttachment and isInlineAttachment. Can they be made public like inlineContentType etc?

[2022-04-15 07:48] rajdeep commented on #139
that's probably a better idea in terms of scalability and maintenance. The last error that you're getting is because of the fact that `Attachment` defines init as follows:
[code]
This limits the decoding and implementing this may still not work depending of the views being used.

Coming back to your query on making `isBlockAttachment` and `isInlineAttachment` public: my recommendation would be to

[2022-04-15 08:39] writing-shed commented on #139
Thanks. The mapping from attributes to JSON takes place when the CoreData attribute is updated. If it finds inLineContentType set it sets isBlockAttachment to 0 and isInlineAttachment to 1, and vice versa if it finds blockContentType is set. Is that OK?

[2022-04-15 21:52] rajdeep commented on #139
That sounds correct.

[2022-04-16 08:45] pie6k opened #140 "Is it suitable for email (html) composer?"
I'm wondering if proton lib would be suitable for creating email composer.

The tricky part is that if you reply to html email, you see it under your reply and can edit it

Example from Spark email app:
![image](https://user-images.githubusercontent.com/7311462/163668565-1dd6a85e-903a-49e1-aac8-3a3365c63e9a.png)

Thus seem such editor needs to support editing html or parsing html to some editable

[2022-04-16 11:42] rajdeep commented on #140
Proton Editor is just a UITextView under the hood. This means that you can simply create NSAttributedString from html and set in the Editor.

Following is how you may create NSAttributedString from html:

NSAttributedString(data: self, options: [.documentType: NSAttributedString.DocumentType.html, .characterEncoding: String.Encoding.utf8.rawValue], documentAttributes: nil)

[2022-04-18 08:29] writing-shed commented on #139
Hit a problem converting the data to JSON. It needs Proton.Attachment to conform to Codable.

[2022-04-18 08:40] rajdeep commented on #139
Did you consider using `EditorContentEncoding` and `AttachmentEncoding`? `EditorView` has a function `transformContents` that uses `EditorContentEncoding` to encode contents including attachments. "Command Example" in the Example App also contains a simple example of encoding and decoding attachments and attributedString to JSON. The idea with encoders/decoders is that you should be able to extend

[2022-04-18 08:51] writing-shed commented on #139
Wow, that was quick. Thanks. I hadn't looked far enough to discover those.

[2022-04-18 09:11] rajdeep commented on #139
Basic idea is that `Attachment` is just a container. What you really need to encode is the view (and possibly type of `Attachment` i.e `block` or `inline`). I believe, even in your code that you have been working with now, you may still be able to bypass encoding/decoding `Attachment` and work directly with the `view` you have in the attachment.

[2022-04-23 00:48] bryan1anderson opened #141 "Is it suitable for a notes app that supports Apple Pencil functionality like Apple notes?"
I'm looking to create an editor in my journal app and need to know if I can plan on adding in an attachment view that is purely for drawing

[2022-04-23 02:10] rajdeep commented on #141
@bryan1anderson, you may add any view in an `Attachment` i.e. if you create a view that supports only drawing, there's no reason why it won't work within the editor. I might have missed if you're looking for something specific so please elaborate if you have further questions.

[2022-04-23 02:11] #140 closed

[2022-04-23 02:11] rajdeep commented on #139
@writing-shed please let me know if this issue may be closed?

[2022-04-23 06:48] #139 closed

[2022-05-02 12:23] royherma opened #142 "Remove trailing space for background color"
<img width="467" alt="Screen Shot 2022-05-02 at 8 22 14" src="https://user-images.githubusercontent.com/3466248/166232828-b35f2f44-94f3-4071-bdb9-d91dcf8cea96.png">

When adding a background style/color to the EditorView, there is some extra "trailing space" when adding a new line / where new lines exist.

How do I make it so the background just covers the text itself (and not the extra spaces)?

[2022-05-03 10:01] rajdeep commented on #142
Glad you're enjoying Proton 👍

This was not supported until now. I have added support to be able to achieve what you're trying to in this [commit](https://github.com/rajdeep/proton/commit/3acb2bafeca5c6523dc6a46dbe1d2b262f9baf2a). Besides other parameters for defining `BackgroundStyle`, you can now also provide `widthMode` which can be `.matchLine` (default) or `.matchText`. If you provide `.match

[2022-05-03 10:01] #142 closed

[2022-05-04 08:49] #141 closed

[2022-05-04 10:55] royherma commented on #142
@rajdeep commented on commit - still don't think its handling cases with new line as desired. What do you think? Am i doing something wrong?

[2022-05-04 11:14] writing-shed opened #143 "Version tags in package manager"
I just tried adding Proton to a Swift playground app. It failed saying the package lacks version tags. Is this fixable?

[2022-05-05 08:14] rajdeep commented on #142
that's a good catch - I have pushed a fix for that [here](https://github.com/rajdeep/proton/commit/c1867b185872e05062685700442ff6dd0d98c238). I also found another issue wherein the borders would not merge properly with some very specific layout of text. I'll be fixing that in coming days. It should ideally not affect your case.

[2022-05-05 08:15] rajdeep commented on #143
It does not seem fixable owing to use of ObjC code. I found a similar case with Realm: https://github.com/realm/realm-swift/issues/7597

[2022-05-05 08:15] #143 closed

[2022-05-05 13:22] valentdrv opened #144 "Addition for text edit"

[2022-05-06 08:30] rajdeep commented on #144
@valentdrv, can you please elaborate what the issue is?

[2022-06-04 10:59] #144 closed

[2022-06-27 21:49] bryan1anderson opened #147 "Crash when sometimes escaping a list"
Thread 1: "*** -[NSBigMutableString _getBlockStart:end:contentsEnd:forRange:stopAtLineSeparators:]: Range {7, 0} out of bounds; string length 6"

Basically I just go in, create a list and then hit enter to reproduce

[2022-06-27 22:05] bryan1anderson opened #148 "UIFont not working with AttributesToggleCommand"
let attr: [NSAttributedString.Key: Any] = [NSAttributedString.Key.font : UIFont.systemFont(ofSize: 40)]
        let command = AttributesToggleCommand(name: CommandName("_titleCommand"), attributes: attr)

It doesn't work. Text does not change font

[2022-06-28 08:46] rajdeep commented on #147
@bryan1anderson, can you please provide detailed steps or the data that you are putting in the list? I am not able to recreate it with what you have mentioned.

[2022-07-01 17:29] bryan1anderson opened #149 "I'm wanting to automatically replace all people names in a document with buttons. Is there a recommended approach?"
I have an app where a user can type names that need to be automatically matched to their contacts or discovered through use of natural language processing.

    func highlightNames() {
        let attributedText = NSMutableAttributedString(attributedString: editorView.attributedText)
        let names = getNames()

        for name in names {
             let ranges = attributedText.string.ranges(

[2022-07-02 05:36] rajdeep commented on #149
hi @bryan1anderson,
there are a couple of ways you can do this:

1. Create an `InlineAttachment` with the style that you desire and add to the given range. Since this will contain a view, you can style it however you wish and it will not bleed the formatting info to the following text.
2. If you have simple formatting like shown in example above, you can add an additional attribute [lockedAttribut

[2022-07-02 05:36] #149 closed

[2022-08-07 02:28] bryan1anderson opened #150 "Make first line of text view a specific font"
I'm trying to do this. I found a solution that will seemingly work here: https://hartl.co/2015/05/21/Highlight-first-line.html

However, EditorViewDelegate does not pass through
`textView(textView: UITextView, shouldChangeTextInRange range: NSRange, replacementText text: String) -> Bool` so I'm having a hard time.

What do you recommend?

[2022-08-07 02:55] bryan1anderson opened #151 "func editor(_ editor: EditorView, didReceiveKey key: EditorKey, at range: NSRange) not called on Enter"
Haven't been able to get this work. I'm running iOS 16. Backspace seems to be the only key it registers

[2022-08-07 10:06] rajdeep commented on #150
To apply any style in Editor, you need to add style using `NSAttributedString` attributes. In this case, you need to add attribute for `.font` with value using font that you wish to apply, for e.g. `UIFont.preferredFont(forTextStyle: .largeTitle)`. If you wish to apply the style when user taps a button, you can use a custom `EditorCommand` for that. However, if you wish to apply style as user type

[2022-08-07 10:06] #150 closed

[2022-08-07 16:02] bryan1anderson commented on #150
Its TextProcessor that I was missing sorry about that and thanks for such an incredible library!

[2022-08-08 09:09] rajdeep commented on #151
`Enter` key is only supported with modifiers like `Shift`. I have made change to relay `Enter` via delegate even without modifiers. Please try the latest [commit](https://github.com/rajdeep/proton/commit/751c0239be148b584e8ed14dcc4a6a57f642e90d).

[2022-08-08 09:09] #151 closed

[2022-08-13 03:12] bryan1anderson opened #154 "Saving NSAttributedString to CoreData crashes"
Error Domain=NSCocoaErrorDomain Code=134060 "A Core Data error occurred." UserInfo={NSUnderlyingError=0x282e77330 {Error Domain=NSCocoaErrorDomain Code=4866 "The data couldn’t be written because it isn’t in the correct format." UserInfo={NSUnderlyingError=0x282e772a0 {Error Domain=NSCocoaErrorDomain Code=4864 "This decoder will only decode classes that adopt NSSecureCoding. Class 'PREditorContentN

[2022-08-13 05:54] rajdeep commented on #154
@bryan1anderson, your assumption is correct. This is a deliberate design decision. For encoding/decoding, you should be able to use the `rawValue` which is a string. For reference, please checkout example Encoder/Decoder in the ExampleApp.

[2022-08-13 05:54] #154 closed

[2022-09-09 22:25] mattli commented on #116
@rajdeep - thank you for all the work you have put into this project. do you have any update on this issue?

[2022-09-09 22:37] rajdeep commented on #116
Thank you @mattli. Unfortunately, I've not been able to get to fixing this yet. I've been thinking about revising some internal details and that might help fix this issue. Thanks for highlighting this again. I'll close this issue as soon as it is fixed.

[2022-09-09 23:12] mattli commented on #116
Appreciate it. Thanks again.

[2022-11-07 10:04] easiwriter opened #157 "Edit menu"
Is there any way to suppress or change the display of the edit popup menu to a long tap gesture?

[2022-11-08 06:48] rajdeep commented on #157
@easiwriter, you can subclass `EditorView` and overrider [canPerformMenuAction](https://rajdeep.github.io/proton/Classes/EditorView.html#/s:6Proton10EditorViewC20canPerformMenuAction_10withSenderSb10ObjectiveC8SelectorV_ypSgtF). Returning `false` will disable menu or you can selectively disable specific selectors. Showing Edit menu on long tap is not supported by default but depending on your requ

[2022-11-08 08:15] easiwriter commented on #157
Thanks for this. I have been away from my project for a few months and don’t remember the menu popping up when I tap on an editor view before, so was wondering if this is something you’ve added?

[2022-11-12 04:00] rajdeep commented on #157
I hope issue that you were facing is resolved. Please feel free to reopen and provide further details, if it isn't.

[2022-11-12 04:00] #157 closed

[2022-11-13 19:41] bryan1anderson commented on #131
Is this still a priority or plan for you? @rajdeep

[2022-11-13 19:44] rajdeep commented on #131
@bryan1anderson, I certainly have plans to eventually get to it but there are some other things that I'm adding/improving in Proton at the moment.